Package: com.yourname.voneyz
Name: VoneYZ Activation
Depends: mobilesubstrate (>= 0.9.7000)
Version: 1.0
Architecture: iphoneos-arm
Description: A simple tweak for verification bypass
 Maintainer: voneyz
Author: voneyz
Section: Tweaks
